


.container{
    width: 80%;
    margin: 0 auto;
}

.fixed-header {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 20px 0;
    color: #fff;
}
.fixed-footer{
    width: 100%;
    background: #333;
    padding: 20px 0;
    color: #fff;
}

.fixed-header{
    top:0;
}

.fixed-footer{
    bottom:0;
}


nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.container p{
    line-height: 200px;
}

.image-decor{
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.main-heading{
    height: 150px;
    background-image: linear-gradient(135deg,teal,rgb(25, 220, 220));
}
