.main-heading{
    height: 200px;
    background-image: linear-gradient(135deg,teal,rgb(25, 220, 220));
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.heading-text{


}

.image-decor{
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}